# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
._*

# Editor & IDE Directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and Temporary Files
*.log
*.tmp
*.bak
*~

# PHP error logs
php_errors.log
error_log
